#submit {
    color: red;
}

.loginSpread {
    margin-top: 100px;
    text-align: center;
}


.options {
    margin-top: 12px;
}

.modal .modal-footer {
 
    border-radius: 0 0 2px 2px;
   
    padding: 4px 6px;
   
    height: 60px;
   
    width: 100%;
   
    text-align: right;
   
  }

  .modal {
      width: 95%;

  }

  .ctitle {
      font-size: 25px;
  }

  #wineInfo {
      margin-top: 25px;
  }